{% extends "base.html" %}

{% block title %}{{ section.title }} - {{ config.title }}{% endblock title %}

{% block content %}
<h1>{{ section.title }}</h1>
{{ section.content | safe }}

{% if section.pages %}
<ul class="post-list">
  {% for page in section.pages %}
  <li>
    {% if page.taxonomies.tags %}<span class="post-tags">{{ page.taxonomies.tags | join(sep=", ") }}</span>{% endif %}
    <a href="{{ page.permalink }}">{{ page.title }}</a>
    {% if section.extra.show_dates and page.date %}<span class="post-date">{{ page.date }}</span>{% endif %}
  </li>
  {% endfor %}
</ul>
{% endif %}

{% if section.subsections %}
<ul class="post-list">
  {% for sub_path in section.subsections %}
    {% set sub = get_section(path=sub_path) %}
    <li><a href="{{ sub.permalink }}">{{ sub.title }}</a></li>
  {% endfor %}
</ul>
{% endif %}
{% endblock content %}
